.widget_pnp_wherewearewidget .widget-title {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.widget_pnp_wherewearewidget .flag {
  margin-right: 10px;
  vertical-align: bottom;
  position: relative;
  top: 3px;
}

.widget_pnp_wherewearewidget .sub {
  margin-left: 47px;
  font-size: 0.7em;
  color: #777;
}

.widget_pnp_wherewearewidget .minimap {
  cursor: pointer;
}

.widget_pnp_wherewearewidget .geo-content {
  display: none;
}

.widget_pnp_wherewearewidget .geo-spinner {
  vertical-align: sub;
  margin-left: 8px;
}

#pnp-fullmap {
  width: 80%;
  height: 600px;
  display: none;
}

/* G-map overrides for correct zoom controls */
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline;a }

/* Theme overrides */
.widget {
  padding: 20px 3rem !important;
}

aside .wc-shortcodes-social-icons-wrapper {
  margin-bottom: 0 !important;
}

aside .wc-shortcodes-social-icon {
  margin-bottom: 0 !important;
}
